meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Document
link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
link(rel='icon', href='/favicon.ico', type='image/x-icon')

  
div Main Page - Push inputData Server
form.form(action='/uploadFile', name='input_file', method='post', enctype='multipart/form-data')
  input.f(type='file', value='파일 선택', accept='.txt', name='userfile' required)
  input.btn(type='submit', value='제출' name='2')

    
    