meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Document
link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
link(rel='icon', href='/favicon.ico', type='image/x-icon')
script.
  
  function a() {
          console.log(1);
        }
  
div Main Page - Push inputData Server
form.form(action='/uploadFile', name='input_file', method='post', enctype='multipart/form-data')
  input.f(type='file', value='파일 선택', accept='txt', name='userfile')
  input.btn(type='submit', value='제출' name='2')
  script.
    
    function showGraph(number) {
              switch (number) {
                case 1:
                  console.log(1);
                  break;
                case 2:
                  console.log(2);
                  break;
    
                case 3:
                  console.log(3);
                  break;
    
                case 4:
                  console.log(4);
                  break;
    
                case 5:
                  console.log(5);
                  break;
    
                case 6:
                  console.log(6);
                  break;
    
                case 7:
                  console.log(7);
                  break;
    
                case 8:
                  console.log(8);
                  break;
    
                case 9:
                  console.log(9);
                  break;
    
                case 10:
                  console.log(10);
                  break;
    
                default:
                  break;
              }
            }
    
    